* {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --background: #2e2e2e;
  --foreground: #FFF;

  --font-monospace: monospace;

  font-family: var(--font-monospace);

  background-color: var(--background);
  color: var(--foreground);
}

/* Layout */
.swipe-root {
  height: 100svh;
  width: 100vw;
  overflow: hidden;
}

body {
  overflow: hidden;
}

main {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-areas: "main right";
}

.layout-main {
  grid-area: main;
  align-self: center;
}

.layout-right {
  grid-area: right;
  position: sticky;
  bottom: 0;
  align-self: end;
  min-height: 100svh;

  display: flex;
  flex-direction: column;
}

.layout-nav {
  background: rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 80px 80px 80px;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid rgba(from var(--foreground) r g b / 0.1);
}

.layout-nav-prev {
  grid-column: 1;
}

.layout-nav-cfg {
  grid-column: 2;
}

.layout-nav-next {
  grid-column: 3;
}

.layout-metadata {
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
  align-self: start;
  flex: 1;
  width: 100%;
}

.panel {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  overflow-y: auto;
  touch-action: pan-y;
}

.panel-current {
  transform: translateX(var(--swipe-offset));
}
.panel-prev {
  transform: translateX(calc(-100vw + var(--swipe-offset)));
}
.panel-next {
  transform: translateX(calc(100vw + var(--swipe-offset)));
}

.panel-error, .panel-loading {
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.panel-loading {
  opacity: 0.5;
}

.panel-error-settings {
  margin-top: 20px;
}

main > .layout-nav {
  display: none;
}

@media (max-width: 800px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas: "nav" "main" "right";
    min-height: 100svh;
  }

  .layout-right {
    bottom: unset;
    min-height: unset;
  }

  main > .layout-nav {
    grid-area: nav;
    display: grid;
    position: sticky;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(2px);
  }

  .layout-right .layout-nav {
    display: none;
  }
}

/* Gallery */
.rendered-gallery {
  --item-width: 150px;
  --item-height: 150px;

  font-family: var(--font-monospace);
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--item-width));
  justify-content: center;
  gap: 10px;

  margin: 20px;
}

.rendered-gallery-img {
  height: calc(2px + var(--item-height));
  width: calc(2px + var(--item-width));
  border: 1px solid rgba(from var(--foreground) r g b / 0.1);
  cursor: pointer;
}

.rendered-gallery-thumbnail,
.rendered-gallery-thumbnail-placeholder {
  height: var(--item-height);
  width: var(--item-width);
}

.rendered-gallery-thumbnail {
  object-fit: contain;
  pointer-events: none;
  background: #000;
}

.rendered-gallery-img {
  position: relative;
}

.rendered-gallery-img:hover {
  border: 1px solid rgba(from var(--foreground) r g b / 0.2);
}

.rendered-gallery-img::after {
  content: attr(data-name);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px;
  box-sizing: border-box;
  line-height: 20px;
  background: rgba(from var(--background) r g b / 0.5);
  font-size: 12px;
  padding: 0 5px 20px 5px;
  text-align: center;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.rendered-gallery-thumbnail-placeholder {
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Image */
.rendered-img,
.rendered-video {
  width: 100%;
  height: auto;
  max-height: 100lvh;
  object-fit: contain;
  display: block;
}

/* Text */
.rendered-text {
  word-break: break-word;
}

.rendered-text-title {
  font-size: 1.6em;
  font-weight: bold;
}

.rendered-text-hint {
  opacity: .3;
  font-size: 0.7em;
  margin-top: 20px;
}

button,
.rendered-button {
  padding: 5px 15px;
  height: 30px;
  line-height: 20px;
  outline: none;
  border: none;
  background: rgba(from var(--foreground) r g b / 0.1);
  color: var(--foreground);
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background: rgba(from var(--foreground) r g b / 0.2);
  }
}

.rendered-button {
  margin-top: 10px;
}

.rendered-text + .rendered-button {
  margin-top: 20px
}

/* Dialog */
dialog {
  background: var(--background);
  width: 100%;
  max-width: min(500px, calc(100vw - 80px));
  max-height: calc(100svh - 40px);
  padding: 20px;
  border: none;
}

dialog::backdrop {
  backdrop-filter: blur(2px);
}
