* {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --background: #2e2e2e;
  --foreground: #FFF;

  --font-monospace: monospace;

  font-family: var(--font-monospace);

  background-color: var(--background);
  color: var(--foreground);
}

/* Layout */
main {
  display: grid;
  grid-template-columns: 1fr 300px;
}

.layout-main {
  align-self: center;
}

.layout-metadata {
  position: sticky;
  top: 0;
  background: rgba(0, 0, 0, 0.1);
  padding: 20px;
  align-self: start;
  min-height: 100vh;
}

.panel-prev,
.panel-next {
  display: none;
}

@media (max-width: 800px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
    min-height: 100vh;
  }

  .layout-metadata {
    top: unset;
    /* bottom: calc(- 100% + 60px); TODO: this doesn't work */
    min-height: unset;
  }
}

/* Gallery */
.rendered-gallery {
  --item-width: 150px;
  --item-height: 150px;

  font-family: var(--font-monospace);
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--item-width));
  justify-content: center;
  gap: 10px;

  margin: 20px;
}

.rendered-gallery-img {
  height: calc(2px + var(--item-height));
  width: calc(2px + var(--item-width));
  border: 1px solid rgba(from var(--foreground) r g b / 0.1);
  cursor: pointer;
}

.rendered-gallery-thumbnail,
.rendered-gallery-thumbnail-placeholder {
  height: var(--item-height);
  width: var(--item-width);
}

.rendered-gallery-thumbnail {
  object-fit: contain;
  pointer-events: none;
  background: #000;
}

.rendered-gallery-img {
  position: relative;
}

.rendered-gallery-img:hover {
  border: 1px solid rgba(from var(--foreground) r g b / 0.2);
}

.rendered-gallery-img::after {
  content: attr(data-name);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px;
  box-sizing: border-box;
  line-height: 20px;
  background: rgba(from var(--background) r g b / 0.5);
  font-size: 12px;
  padding: 0 5px 20px 5px;
  text-align: center;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.rendered-gallery-thumbnail-placeholder {
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Image */
.rendered-img,
.rendered-video {
  width: 100%;
  height: auto;
  max-height: 100vh;
  object-fit: contain;
}

/* Text */
.rendered-text {
  word-break: break-word;
}

.rendered-text-title {
  font-size: 1.6em;
  font-weight: bold;
}

.rendered-text-hint {
  opacity: .3;
  font-size: 0.7em;
  margin-top: 20px;
}

.layout-nav button,
.rendered-button {
  padding: 5px 15px;
  height: 30px;
  line-height: 20px;
  outline: none;
  border: none;
  background: rgba(from var(--foreground) r g b / 0.1);
  color: var(--foreground);
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background: rgba(from var(--foreground) r g b / 0.2);
  }
}

.rendered-button {
  margin-top: 10px;
}

.rendered-text + .rendered-button {
  margin-top: 20px
}

.layout-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(from var(--foreground) r g b / 0.1);
}

.layout-nav.layout-nav-hidden {
  display: none;
}

.layout-nav .layout-nav-spanner {
  flex: 1;
}
